<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151854548965-nuatnu525fh14mg0m9grjsti5psuihu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151854548965-nuatnu525fh14mg0m9grjsti5psuihu9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>151854548965-4o9v8m3ehehr46cdftrguar0rp1uiol8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDALmfWIcpW-2OOtNWncWoe7xhibnoU2NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>151854548965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imgreatPhoneApp</string>
	<key>PROJECT_ID</key>
	<string>imagreatchat</string>
	<key>STORAGE_BUCKET</key>
	<string>imagreatchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151854548965:ios:ea97ae3f78ee7249f8110c</string>
	<key>DATABASE_URL</key>
	<string>https://imagreatchat.firebaseio.com</string>
</dict>
</plist>